six==1.17.0
contourpy==1.3.0
numpy==1.26.4
cycler==0.12.1
fonttools==4.55.3
importlib-resources==6.4.5
zipp==3.21.0
kiwisolver==1.4.7
packaging==24.2
pillow==10.4.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
tzdata==2024.2
py4j==0.10.9.7
matplotlib==3.7.5
pandas==2.1.4
pyspark==3.5.3
